* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: none;
}

body {
	font: 12px/ 1.5 \5b8b\4f53, Arial, sans-serif;
	/*font: 14px/100% arial,\5b8b\4f53;*/
	background: #ffffff;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
	text-align: left;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table,td,tr,th {
	font-size: 12px;
}

fieldset,img {
	border: 0 none;
}

img {
	vertical-align: top;
	border: 0;
}

ol,ul {
	list-style: none outside none;
}

li {
	list-style-type: none;
}

/**
h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: normal;
}*/

p {
	color: #000000;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 28px;
}

address,cite,code,em,th,i {
	font-weight: normal;
	font-style: normal;
}

.hx a,.hx em,.fB {
	font-weight: bold;
}

body {
	text-align: center;
}

.clearfix { *
	zoom: 1;
}

.clearfix:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}

.cf:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

a {
	color: #252525;
	cursor: pointer;
	font-size: 12px;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #FF6600;
	text-decoration: underline;
}

a:active {
	color: #FF6600;
}

.sidebar {
	border: 1px solid #BCD2E9;
	box-shadow: 0 1px 1px rgba(196, 213, 224, 0.5);
	width: 210px;
	height: 500px;
	margin: 5px auto 0;
	overflow:auto;
}

.sidebar dl {
	margin: 8px auto 16px;
	width: 210px;
	text-align: left;
}

.sidebar dt {
	color: #4384B7;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 28px;
}

.sidebar dt i {
	background: url("../images/admin_public.png") no-repeat
		scroll -20px 0 transparent;
	display: inline-block;
	height: 10px;
	margin: 0 6px 0 4px;
	width: 10px;
}

.sidebar dt.hou i {
	background: url("../images/admin_public.png") no-repeat
		scroll -20px -20px transparent;
	display: inline-block;
	height: 10px;
	margin: 0 6px 0 4px;
	width: 10px;
}

.sidebar dd a {
	color: #333333;
	display: block;
	height: 28px;
	line-height: 28px;
	margin-left: 5px;
	padding-left: 30px;
	width: 150px;
}

.sidebar dd a:hover {
	background-color: #DFF4FF;
	color: #333;
	text-decoration: none;
}

.sidebar dd a.active {
	background-color: #599DDA;
	color: #FFFFFF;
}

.sidebar dd a.onblur {
	background: #599DDA;
	color: #FFF;
	display: block;
	height: 28px;
	line-height: 28px;
}

.current {
	background-color: #599DDA;
	color: #FFF;
}

.current a {
	color: #FFF !important;
}

.lihover {
	background-color: #DFF4FF;
}

#header {
	width: 100%;
	height: 65px;
	margin: 0 auto;
	background: url("../images/top_bg.jpg") no-repeat scroll right top;
}

#header .logo {
	float: left;
	width: 300px;
	height: 65px;
}

#header .l {
	color: #999999;
	float: left;
	padding-left: 10px;
}

#header .r {
	color: #DDDDDD;
	float: right;
	width: 60px;
	margin-top: 6px;
	margin-right: 10px;
}

#header .r a {
	color: #666666;
	cursor: pointer;
}

#header .r a:hover {
	color: #ff6600;
}

#admin-nav-wrap {
	background-color: #2A98DA;
	background: url("../images/admin_repeat_x.png") repeat-x scroll 0 0
		transparent;
}

.admin-nav {
	height: 35px;
	padding-left: 20px;
	width: 99%;
	text-align: left;
	overflow: hidden;
}

.admin-nav ul li {
	float: left;
	margin-left: 10px;
	margin-right: 20px;
}

.admin-nav ul li a {
	background: url("../images/admin_public.png") no-repeat scroll 9999px
		9999px transparent;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	height: 26px;
	margin: 5px 0 9px;
	padding-left: 8px;
}

.admin-nav ul li a:hover {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

.admin-nav a.selected {
	background: url("../images/admin_public.png") no-repeat scroll -150px 0
		transparent;
	cursor: default;
	display: inline-block;
	float: left;
	height: 35px;
	margin: 5px 0 0;
	padding-left: 8px;
}

.admin-nav a.selected span {
	background: url("../images/admin_public.png") no-repeat scroll right 0
		transparent;
	color: #000000;
	display: inline-block;
	float: left;
	font-size: 16px;
	font-weight: 600;
	height: 20px;
	padding: 3px 14px 12px 8px;
	text-shadow: none;
	cursor: pointer;
}

.qj {
	right: 30px;
	position: absolute;
	top: 12px;
	z-index: 10;
}

.qj li {
	float: left;
	margin-right: 3px;
	height: 30px;
	width: 60px;
}

.qj span {
	color: #222222;
	display: block;
	font-weight: bold;
	padding-top: 10px;
}

.qj li a {
	outline: 0 none;
	text-decoration: none;
	display: block;
	width: auto;
	height: 22px;
	line-height: 22px;
	padding-top: 28px;
}

.top_bz {
	background: url("../images/bz.png") no-repeat scroll 12px
		top;
}

.top_modpwd {
	background: url("../images/modpwd.png") no-repeat scroll
		12px top;
}

.top_aqtc {
	background: url("../images/aqtc.png") no-repeat scroll 12px
		top;
}
