#login-container {
	width: 425px;
	margin: 120px auto 0;
}

#login-header {
	padding: 12px 20px;
	margin-bottom: 1em;
	background: #3C4049;
	background:-moz-linear-gradient(top, #4A515B 0%, #3C4049 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4A515B), color-stop(100%,#3C4049)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #4A515B 0%,#3C4049 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #4A515B 0%,#3C4049 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #4A515B 0%,#3C4049 100%); /* IE10+ */
	background:linear-gradient(top, #4A515B 0%,#3C4049 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
	border-radius: 5px;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

#login-header h3 {
	margin-bottom: 0;
	font-size: 16px;
	color: #FFF;
	text-decoration: 1px 1px 2px rgba(0,0,0,.4);
}

#login-content {
	padding: 20px;
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 0 6px rgba(0,0,0,.10);
}

#login-content input {
	width: 96%;
	padding: 2% 2%;
}

#login-content #remember-me {
	margin-top: 3px;	
}

#login-content #remember-me input {
	display: inline-block;
	
	width: auto;
	padding: 0;
}

#login-content #remember-me label {
	position: relative;
	top: 2px;
	display: inline-block;
	margin-left: .5em;
}

#login-extra {
	margin-top: 1.5em;
	text-align: center;
}

#login-extra p {
	font-size: 12px;
	color: #888;
}
@media (max-width: 480px) {
	#login-container {
		width: 100%;
		margin: 40px auto 0;
	}
}