body {
	font-size:12px;
	font-family:Tahoma,Arial;
	color:#282828;
	margin:0;
	border:0;
}

img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	display:inline;
}

td,p,div,a {
	marign:0;
	font-size:12px;
	font-family:Tahoma,Arial;
	padding:0;
}

input,select,textarea {
	font-size:12px;
	font-family:Tahoma,Arial;
}
a:link,a:active {
	color:#004A80;
	text-decoration:none;
}
.visited,.visited:link,.visited:visited,.visited:active,a:visited {
	color:#630067;
	text-decoration:none;
}

a:hover {
	color:#ed9d13;
	text-decoration:none;
}

.form-table {
	border-left:1px solid #ddd;
}

.table_all {
	border-top:1px solid #9AC3E1;
	border-right:1px solid #9AC3E1;
	margin-top:10px;
	margin-bottom:10px;
	width:98%;
	align:center;
	text-align:left;
}

.table_all_border {
	border-top:1px solid #9AC3E1;
	border-right:1px solid #9AC3E1;
	border-bottom:1px solid #9AC3E1;
	border-left:1px solid #9AC3E1;
	margin-top:5px;
	margin-bottom:5px;
	width:98%;
	align:center;
	text-align:left;
}

.td_table_top {
	border:1px solid #d2dde2;
	background-image:url(../images/headerbg.gif);
	background-repeat:repeat-x;
	background-position:center;
	color:#15387c;
	height:21px;
	font-weight:700;
}

.td_table_1 {
	background-color:#C8E3F4;
	width:120px;
	border-left:1px solid #9AC3E1;
	border-bottom:1px solid #9AC3E1;
	text-align:right;
	color:#000;
	padding:2px 4px 0;
	height: 24px;
	font-weight: bold;
}

.td_table_2 {
	border-left:1px solid #9AC3E1;
	border-bottom:1px solid #9AC3E1;
	padding:2px 4px;
	height: 24px;
}

.input_50,.select_50 {
	width:50px;
	height: 24px;
	margin:0 0 0 5px;
	line-height: 24px;
	border-right:1px solid #C8E3F4;
	border-bottom:1px solid #C8E3F4;
	border-left:1px solid #C8E3F4;
	border-top:1px solid #C8E3F4;
}

.input_120 {
	width:120px;
	height: 24px;
	margin:0 0 0 5px;
	line-height: 24px;
	border-right:1px solid #C8E3F4;
	border-bottom:1px solid #C8E3F4;
	border-left:1px solid #C8E3F4;
	border-top:1px solid #C8E3F4;
}

.input_240 {
	width:240px;
	height: 24px;
	margin:0 0 0 5px;
	line-height: 24px;
	border-right:1px solid #C8E3F4;
	border-bottom:1px solid #C8E3F4;
	border-left:1px solid #C8E3F4;
	border-top:1px solid #C8E3F4;
}

.input_520,.input_file {
	width:520px;
	margin:0 0 0 5px;
	height: 24px;
	line-height: 24px;
	border-right:1px solid #C8E3F4;
	border-bottom:1px solid #C8E3F4;
	border-left:1px solid #C8E3F4;
	border-top:1px solid #C8E3F4;
}

.input_textarea_320 {
	width:320px;
	margin-left:5px;
	height:100px;
	border-right:1px solid #C8E3F4;
	border-bottom:1px solid #C8E3F4;
	border-left:1px solid #C8E3F4;
	border-top:1px solid #C8E3F4;
}

.input_textarea_600 {
	width:600px;
	margin-left:5px;
	height:120px;
	border-right:1px solid #C8E3F4;
	border-bottom:1px solid #C8E3F4;
	border-left:1px solid #C8E3F4;
	border-top:1px solid #C8E3F4;
}

.input_checkbox {
	margin-left:5px;
	margin-top:5px;
	padding-top:5px;
	border-color:#A6B7F2;
	border-style:none;
	border-width:2px 1px 1px 2px;
}

.input_radio {
	margin-left:15px;
	height: 24px;
}

.input_select {
	border:1px solid #C8E3F4;
	line-height:22px;
	margin:-1px,-5px,-1px,5px;
	padding:4px 3px;
	font-size:12px;
	width:235px;
}
.select_border {
	margin-left:5px;
	background:#fff;
	border:1px solid #C8E3F4;
	padding:4px;
	width:230px;
	height:24px;
}
.select_container {
    border:0;
    position:relative;
    width:230px;
    height:18px;
    overflow:hidden;
    background:#fff;
}

.td_list_1 {
	background-color:#C8E3F4;
	height:26px;
	border-left:1px solid #9AC3E1;
	border-bottom:1px solid #9AC3E1;
	padding:2px 4px 0;
	font-weight: bold;
}

.td_list_2 {
	height:26px;
	border-left:1px solid #9AC3E1;
	border-bottom:1px solid #9AC3E1;
	padding:2px 4px 0;
}

.td_table_bottom {
	border-bottom:1px solid #9AC3E1;
	border-left:1px solid #9AC3E1;
	height:30px;
}

.class1_url a:link {
	font-size:12px;
	color:#06F;
	text-decoration:none;
	font-weight:400;
}

.class1_url a:visited {
	font-size:12px;
	color:#06F;
	text-decoration:none;
}

.class1_url a:hover {
	font-size:12px;
	color:#0C3;
	text-decoration:none;
}

.class1_ur2 a:link {
	font-size:12px;
	color:#fff;
	text-decoration:none;
	font-weight:400;
}

.class1_ur2 a:visited {
	font-size:12px;
	color:#fff;
	text-decoration:none;
}

.class1_ur2 a:hover {
	font-size:12px;
	color:#0ff;
	text-decoration:none;
}

.class1_ur3 a:link {
	font-size:12px;
	color:#000;
	text-decoration:none;
	font-weight:400;
}

.class1_ur4 a:link {
	font-size:12px;
	color:#15AF05;
	text-decoration:none;
	font-weight:400;
}

.class1_ur4 a:visited {
	font-size:12px;
	color:#15AF05;
	text-decoration:none;
	font-weight:700;
}

.class1_ur4 a:hover {
	font-size:12px;
	color:#FF7200;
	text-decoration:none;
}

.button_38px {
	width:38px;
	height:24px;
	border:none;
	background-image:url(../images/button_38px.gif);
	background-color:transparent;
	color:#000;
	text-align:center;
	cursor:hand;
}

.button_70px {
	width:70px;
	height:24px;
	border:none;
	background-image:url(../images/button_70px.gif);
	background-color:transparent;
	color:#000;
	text-align:center;
	cursor:hand;
}

.button_100px {
	width:100px;
	height:24px;
	border:none;
	background-image:url(../images/button_100px.gif);
	background-color:transparent;
	color:#000;
	text-align:center;
	cursor:hand;
}

a.btnDel {
	background:url(../images/delete.png) no-repeat; 
	display:block; 
	width:22px; 
	height:20px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right: 3px;
}

a.btnAdd {
    background:url(../images/add.png) no-repeat;
    display:block;
    width:22px;
    height:20px;
    text-indent:-1000px;
    overflow:hidden;
    float:left;
    margin-right: 3px;
}

a.btnEdit {
	background:url(../images/edit.png) no-repeat; 
	display:block; 
	width:22px; 
	height:20px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right: 3px;
}

a.btnView {
	background:url(../images/view.png) no-repeat; 
	display:block; 
	width:24px; 
	height:24px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right:3px;
	padding-left: 5px;
}

a.btnSelect {
	background:url(../images/select.png) no-repeat; 
	display:block; 
	width:24px; 
	height:24px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right:3px;
	padding-left: 5px;
}

a.btnConfig {
	background:url(../images/config_add.png) no-repeat; 
	display:block; 
	width:24px; 
	height:24px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right:3px;
	padding-left: 5px;
}

a.btnStart {
	background:url(../images/flow-start.png) no-repeat; 
	display:block; 
	width:22px; 
	height:20px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right: 3px;
}

a.btnUndo {
	background:url(../images/arrow_undo.png) no-repeat; 
	display:block; 
	width:22px; 
	height:20px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right: 3px;
}

a.btnReject {
	background:url(../images/arrow_turn_left.png) no-repeat; 
	display:block; 
	width:22px; 
	height:20px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right: 3px;
}

a.btnDesigner {
	background:url(../images/designer.png) no-repeat; 
	display:block; 
	width:22px; 
	height:20px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right: 3px;
}

a.btnFormEdit {
	background:url(../images/formedit.png) no-repeat; 
	display:block; 
	width:22px; 
	height:20px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right: 3px;
}

a.btnPict {
	background:url(../images/picture_link.png) no-repeat; 
	display:block; 
	width:22px; 
	height:20px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right: 3px;
}

a.btnForm {
    background:url(../images/form_edit.png) no-repeat;
    display:block;
    width:22px;
    height:20px;
    text-indent:-1000px;
    overflow:hidden;
    float:left;
    margin-right: 3px;
}

a.btnRead {
	background:url(../images/flag_read.png) no-repeat; 
	display:block; 
	width:22px; 
	height:20px; 
	text-indent:-1000px; 
	overflow:hidden; 
	float:left; 
	margin-right: 3px;
}

a.btnClock {
    background:url(../images/clock.png) no-repeat;
    display:block;
    width:22px;
    height:20px;
    text-indent:-1000px;
    overflow:hidden;
    float:left;
    margin-right: 3px;
}

#switchpic {
	width: 6px;
	cursor:pointer;
	clear: both;
	vertical-align: bottom;
	margin-top: 220px;
}

/*Top style*/
.navigation {
	background-color: #368EE0;
}
.container-fluid,.container{
	padding:0 20px;
}

.brand{
	float:left;
	font-size:20px;
	margin-top:9px;
	padding-right:33px;
	padding-left:35px;
	padding-bottom:2px;
	background:url("../images/logo.png") no-repeat;
	color: #fff;
}

.main-nav{
	display:none
}

.user{
	float:right;
	margin-top:9px;
	padding-right:33px;
	padding-left:35px;
	padding-bottom:2px;
	font-size:12px;
	font-weight:bold;
	color: #fff;
}

/*Left style*/
.brsDetail {
	overflow: hidden; 
	zoom:1; 
	border: #dcdddc 1px solid;
}

.node {
	float: left;  width: 176px; line-height: 39px;
}

.node a:hover {
	background-color: #fff; 
	border-right: #00b487 3px solid; 
	width: 133px;
}

.nodeLink {
	display: block; 
	background-position: 22px 15px; 
	background-repeat: no-repeat; 
	background-color: #ECF5F1; 
	border-top: #dcdcdc 1px solid; 
	border-right: #dcdcdc 1px solid; 
	padding-left: 40px; 
	font-weight: bold;
	cursor: pointer; 
	width: 135px;
	background-image: url(../images/close.jpg);
}

.leaf {
	float: left;  width: 176px; line-height: 30px;
}
.leafLink {
	display: block; 
	background-position: 30px 8px; 
	background-repeat: no-repeat; 
	background-color: #f5f5f5; 
	border-top: #dcdcdc 1px solid; 
	border-right: #dcdcdc 1px solid; 
	padding-left: 50px;
	cursor: pointer; 
	width: 135px;
	background-image: url(../images/arrow.png);
}


.snaker_title {
	color:navy;
	font-weight:bolder;
	font-size:20px;
	padding-top:5px;
}