<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    ">
    <!-- 从NutIoc获取DataSource -->
	<bean id="dataSource" class="net.wendal.nutzbook.uflo.DataSourceProxy"/>
	<!-- 导入uflo的spring定义 -->
	<import resource="classpath:uflo-console-context.xml" />
	<!-- uflo需要一个EnvironmentProvider -->
	<bean id="EnvironmentProvider" class="net.wendal.nutzbook.uflo.util.UfloEnvironmentProvider">
		<property name="platformTransactionManager" ref="transactionManager" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- uflo总是依赖hibernate,那就给它咯 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.bstek.uflo.model*</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	<!-- 还需要事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>