.paper {
  overflow: hidden;
}
.paper.rounded {
  border-radius: 2px;
}
.paper.circle {
  border-radius: 50%;
}
.paper.z-depth-0 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
}
.paper.z-depth-1 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 6px rgba(0, 0, 0, 0.12);
}
.paper.z-depth-2 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
.paper.z-depth-3 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.paper.z-depth-4 {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.22), 0 14px 45px rgba(0, 0, 0, 0.25);
}
.paper.z-depth-5 {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
}
