
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>固件管理</h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Luat管理</a></li>
        <li class="active">固件管理</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" id="package_manager_div">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">固件一览</h3>
            </div>
            <div class="box-header">
            	<div>
            		过滤固件描述  : <input type="text" v-model="query.content" @change="dataReload">
            	</div>
            	<div>
            		<select id="project_select" @change="change_project">
            			<option :value="project.id" v-for="project in projects" v-if="project.id == query.projectId" selected>{{project.nickname}}</option>
    					<option :value="project.id" v-for="project in projects" v-if="project.id != query.projectId" >{{project.nickname}}</option>
    				</select>
            	</div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="package_table" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>固件id</th>
                  <th>固件指纹(md5)</th>
                  <th>固件底层</th>
                  <th>版本号</th>
                  <th>整形版本号</th>
                  <th>描述</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="pkg in packages">
                  <td>{{pkg.id}}</td>
                  <td>{{pkg.finger}}</td>
                  <td>{{pkg.firmwareName}}</td>
                  <td>{{pkg.versionStr}}</td>
                  <td>{{pkg.versionInt}}</td>
                  <td>{{pkg.content}}</td>
                  <td>
                  	<button @click="show_package_detail(pkg.id)">详情</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
			<div class="box">
				<div>
					<div class='inner'>
						<button class="btn" v-on:click="dataReload" disabled>第{{pager.pageNumber}}页,共{{pager.pageCount}}页</button>
						<button class="btn" v-on:click="changePage(1)">第一页</button>
						<button class="btn" v-on:click="changePage(pager.pageNumber-1)" v-if="pager.pageNumber > 1">上一页</button>
						<button class="btn" v-on:click="changePage(pager.pageNumber+1)" v-if="pager.pageNumber < pager.pageCount">下一页</button>
						<button class="btn" v-on:click="changePage(pager.pageCount)">最后页</button>
					</div>
				</div>
			</div>
			<div class="box">
				<div>
					<div class="inner">
						<div id="uploader" class="wu-example">
    						<!--用来存放文件信息-->
    						<div id="thelist" class="uploader-list"></div>
    						<div class="btns">
        						<div id="picker">选择固件文件并上传</div>
        						<button id="ctlBtn" class="btn btn-default" style="display: none;">开始上传</button>
    						</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <link rel="stylesheet" type="text/css" href="${base}/adminlte/js/luat/webuploader.css">
    <script src="${base}/adminlte/js/luat/webuploader.min.js?v=1"></script>
    <script src="${base}/adminlte/js/luat/upgrade_package.js?v=1"></script>