
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>升级日志</h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Luat管理</a></li>
        <li class="active">升级日志</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" id="history_manager_div">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="box">
            <div class="box-header">
            	<div>
            		<div class="form-check form-check-inline">
					</div>
            		过滤imei<input type="text" v-model="query.imei" @change="dataReload">
            	</div>
            	<div class="form-group row">
            		<div class="col-sm-4">
            			<select class="form-control input-sm" id="project_select" @change="change_project">
            				<option :value="project.id" v-for="project in projects" v-if="project.id == query.projectId" selected>{{project.nickname}}</option>
    						<option :value="project.id" v-for="project in projects" v-if="project.id != query.projectId" >{{project.nickname}}</option>
    					</select>
            		</div>
            		<div class="col-sm-8"></div>
            	</div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="history_table" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>设备imei</th>
                  <th>上报版本号</th>
                  <th>匹配升级计划</th>
                  <th>下发更新包</th>
                  <th>响应码</th>
                  <th>原因</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="history in histories">
                  <td>{{history.imei}}</td>
                  <td>{{history.versionReport}}</td>
                  <td>{{history.plan ? history.plan.nickname : '-'}}</td>
                  <td>{{history.pkg  ? history.pkg.originName : '-'}}</td>
                  <td>{{history.respCode == 200 ? '成功' : '失败'}}</td>
                  <td>{{history.respReson ? history.respReson : '-'}}</td>
                  <td>
                  	<button class="btn btn-info" @click="show_history_detail(history.id)">详情</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
			<div class="box">
				<div>
					<div class='inner'>
						<button class="btn btn-info" v-on:click="clear_old_history">清除1个月之前的日志</button>
						<button class="btn btn-default" v-on:click="dataReload">刷新</button>
						<button class="btn btn-default" v-on:click="dataReload" disabled>第{{pager.pageNumber}}页,共{{pager.pageCount}}页</button>
						<button class="btn btn-default" v-on:click="changePage(1)">第一页</button>
						<button class="btn btn-default" v-on:click="changePage(pager.pageNumber-1)" v-if="pager.pageNumber > 1">上一页</button>
						<button class="btn btn-default" v-on:click="changePage(pager.pageNumber+1)" v-if="pager.pageNumber < pager.pageCount">下一页</button>
						<button class="btn btn-default" v-on:click="changePage(pager.pageCount)">最后页</button>
					</div>
				</div>
			</div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <script src="${base}/adminlte/js/luat/upgrade_history.js?v=1"></script>