<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/logo/nutz-shortit-logo-16x16.png" />
    <title>文件下载</title>
    <link href="${base}/assets/shortit/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="${base}/assets/shortit/css/common.css" rel="stylesheet">
    <script type="text/javascript" src="${base}/assets/shortit/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="${base}/assets/shortit/js/application.js"></script>
    <script type="text/javascript" src="${base}/assets/shortit/js/down.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar"></div>
    <div class='container' id='container'>
      <h3 id="fileName"></h3>
      <a id="fileHref">下载文件</a>
      <hr />
      <div id="disqus_thread"></div>
    </div>
    <footer class="footer"></footer>
  </body>
</html>
