<!--# if (topic.top) {  #-->
<span class='put_top'>置顶</span>
<!--# } else if (topic.good) {  #-->
<span class='put_good'>精华</span>
<!--# } else {  #-->
<span class="topiclist-tab">${topic.type.display}</span>
<!--# }  #-->
<!--#        if ( obj.tag! == null && topic.tags! != null  && obj.sub_forums! != null) {
                 for (sub_forum in obj.sub_forums) {
                      for (_tag in topic.tags) {
                 	      if (_tag == sub_forum.tagname) {  #-->
	                          <span class="topiclist-tab" style="background-color:#E7F2ED;"><a href="${ctxPath}/yvr/tag/${_tag}">${sub_forum.tagname}</a></span>
<!--#                     }
                      }
                 }
             }#-->