<div id='sidebar'>
  <div class='panel'
  	<!--#if (null != c_user! && null != obj.current_user! && c_user.userId == obj.current_user.userId){ #-->
  		data-intro="您的个人统计,手机客户端的accesstoken也在这里"
  	<!--#} #-->
  	>
    <!--# if (null != c_user!) {  #-->
    <div class='header'>
      <span class='col_fade'><a href="${ctxPath}/yvr/u/${c_user.loginname}" title="您的个人统计,手机客户端的accesstoken也在这里">个人信息</a></span>
    </div>
    <div class='inner'>
      <!--# layout("user/card.html", {"user":c_user}){};  #-->
      
      <!--#if (null != c_user! && null != obj.current_user! && c_user.userId != obj.current_user.userId){ #-->
      <div class='span-success'>
      	<button onclick="pay_tips(${c_user.userId});" title="不错,赏几毛">微信打赏Ta</button>
      </div>
      <!--#} else if (null != obj.current_user!){ #-->
      <div class='span-success'>
      	<button onclick="pay_tips(2);" title="买老北京冰棍">微信打赏帮主</button>
      </div>
      <!--#} #-->
    </div>
    
    <!--# } else {  #-->
    <div class='inner'>
      <p>${conf['website.title']}</p>

      <div>
        <a href="${ctxPath}/yvr/u/oauth/github" data-intro="使用Github登陆是推荐方式" data-position="bottom">
          <span class="span-info">
            推荐GitHub一键登录
          </span>
        </a>
        
      	<!--#if (conf['website.qq_login'] != "false"){ #-->
      	<a href='${ctxPath}/oauth/qq' id='qq_btn' data-intro="QQ登陆,我不想解释了">
      		<img src="${cdnbase}${base}/rs/images/qq_connect.png"/>
      	</a>
      	<!--#} #-->
      </div>
    </div>
    <!--# }  #-->
  </div>
  
  <!--# if (null != obj.current_user!) {  #-->
  <div class="panel">
    <div class='inner'>
      <a href='${ctxPath}/yvr/add' id='create_topic_btn'>
        <span class='span-success'>发布话题</span>
      </a>
    </div>
  </div>
  
  <!--# }  #-->

  <!-- 禁用 无人回复的话题-->
  <!--# if ( 1 != 1) { #-->
  <!--# if ( null != obj.no_reply_topics! && obj.no_reply_topics.~size > 0) {  #-->
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>无人回复的话题</span>
    </div>
    <div class='inner'>
      <ul class="unstyled">
      	<!--#
      	for(topic in obj.no_reply_topics) {
      		layout('small.html', { "topic" : topic }){};
      	}
      	 #-->
      </ul>
    </div>
  </div>
  <!--# }  #-->
  <!--# }  #-->
  
  <!--# if ( null != obj.sub_forums!) {  #-->
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>子论坛</span>
    </div>
    <div class='inner'>
      <ul class="unstyled">
        <!--# for (sub_forum in obj.sub_forums) {  #-->
      	<a data-pjax href='${ctxPath}/yvr/tag/${sub_forum.tagname}' property="item" typeof="WebPage" class="topic_tag">${sub_forum.display}</a>
      	<!--#} #-->
      </ul>
    </div>
  </div>
  <!--#} #-->
  
  <!--# if ( null != obj.top_tags! && obj.top_tags.~size > 0) {  #-->
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>热门标签</span>
    </div>
    <div class='inner'>
      <ul class="unstyled">
      	<!--#for(_tag in obj.top_tags) { #-->
      		<a data-pjax href='${ctxPath}/yvr/tag/${_tag.name}' property="item" typeof="WebPage" class="topic_tag">${_tag.name}(${_tag.count})</a>
      	<!--#} #-->
      </ul>
    </div>
  </div>
  <!--# }  #-->
  
  <!--# if ( null != obj.recent_topics! && obj.recent_topics.~size > 0) {  #-->
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>作者最近发表的帖子</span>
    </div>
    <div class='inner'>
      <ul class="unstyled">
      	<!--#
      	for(_topic in obj.recent_topics) {
      		if ( null == obj.topic! || obj.topic.id != _topic.id){
      			layout('small.html', { "topic" : _topic }){};
      		}
      	}
      	 #-->
      </ul>
    </div>
  </div>
  <!--# }  #-->

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>友情社区</span>
    </div>
    <div class='inner'>
      <ul class="unstyled">
      	<!--#
      	var i = 0;
      	while (i < 10){
      		if (conf['website.friendship.'+i] != null){
      	 #-->
          <a class="topic_tag" href="${conf['website.friendship.'+i+'.url']}"  target="_blank">${conf['website.friendship.'+i]}</a>
        <!--#	}
        	i++;
        } #-->
      </ul>
    </div>
  </div>
  <div class='panel' data-intro="客户端二维码" data-position="top">
    <div class='header'>
      <span class='col_fade'>下载Android/ios客户端</span>
    </div>
    <div class='inner'>
      <img alt="android/ios客户端的下载二维码" src="${cdnbase}${base}/rs/images/qrcode_app.png">
    </div>
  </div>
</div>