
<div class='cell'>

  <a class="user_avatar pull-left" href="${ctxPath}/yvr/u/${topic.author.loginname}">
    <img src="${cdnbase}${ctxPath}/yvr/u/${topic.author.loginname}/avatar" title="${topic.author.loginname}" />
  </a>
  <span class="reply_count pull-left">
    <span class="count_of_replies" title="回复数">
      ${topic.replyCount}
    </span>
    <span class="count_seperator">/</span>
    <span class="count_of_visits" title='点击数'>
      ${topic.visitCount}
    </span>
  </span>

  <!--# if (null != topic.lastComment!) { #-->
  <a class='last_time pull-right' href="${ctxPath}/yvr/t/${topic.id}#${topic.lastComment.id}">
    <img class="user_small_avatar" src="${cdnbase}${ctxPath}/yvr/u/${topic.lastComment.author.loginname}/avatar">
    <span class="last_active_time">${topic.lastComment.createAt}</span>
  </a>
  <!--# }  #-->
  <!--# if (null == topic.lastComment!) { #-->
    <span class='last_time pull-right'>
      <span class="last_active_time">${topic.createAt}</span>
    </span>
  <!--# }  #-->

  <div class="topic_title_wrapper">
		<!--#
		layout("_top_good.html",{"topic":topic}){};
		 #-->
    <a class='topic_title' href='${ctxPath}/yvr/t/${topic.id}' title='${topic.title}'>
      ${topic.title}
    </a>
  </div>
</div>