.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.md-checkbox-field {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  display: inline-block;
  height: 48px;
  margin-top: 24px;
  cursor: pointer;
}
.md-checkbox-field label {
  display: block;
  float: left;
  width: auto;
  height: 48px;
  line-height: 48px;
}
.md-checkbox-field .checkbox-wrap {
  display: block;
  float: right;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
}
.md-checkbox-field .checkbox-wrap input[type=checkbox] {
  width: 100%;
  height: 100%;
  opacity: 0;
}
