body{margin:0;padding:0;font-size:12px;color:#364f56;background:url(../img/admin/allBG.jpg) #e9f4f8 repeat-x;}
img{border:0;}
form{margin:0; padding:0;}
input[type=text],input[type=password],textarea{border-top:1px solid #404040;border-left:1px solid #404040;border-right:1px solid #D4D0C8;border-bottom:1px solid #D4D0C8;}
input[type=text][disabled=disabled],.disabled{background:#D4D0C8;}
input[type=text],input[type=password]{height:17px;}
input[type=text]:focus,input[type=password]:focus,textarea:focus{border:1px solid #000000;}
ul{list-style:none;}

/*链接总的css定义*/
a{text-decoration:none;}
a:link{color:#364f56;}
a:visited{color:#333333;}
a:hover{color: #ae0927;}
a:active {color: #0000ff;}
/*菜单链接*/
a.channel:link {color:#ffffff;}
a.channel:visited {color:#ffffff;}
a.channel:hover{color:#ffff00;}
a.channel:active {color:#ffffff;}
/*菜单链接*/
a.normal{text-decoration:underline;}
.clear{clear:both; height:0;}
/*后台管理界面body体*/
.body-box{width:100%;margin:0px auto;margin-right:auto;}
/*后台左页body*/
.lbody{background:url(../img/admin/lbg.jpg) #e9f4f8 right repeat-y;color:#666666;margin-right:6px;}
/*后台左页菜单*/
.lmenu{margin:1px 0 0 0;padding:0;list-style-type:none;}
.lmenu li{padding:7px 0 7px 30px;background-image:url(../img/admin/circle.gif);background-repeat:no-repeat;background-position:15px -1px;}
.leftmenuBG{ background:url(../../common/img/theme/leftBg.jpg); width:208px; line-height:30px; text-indent:9em;}

.lmenu-focus{background-color:#DDECEF;}
/*后台左页树*/
.lttop{padding:10px 0px 2px 0px;text-align:center;}
/*后台右页头部*/
.rhead{border-bottom:#dddddd 1px solid;padding:5px 15px;margin-top:5px;}
/*后台右页当前位置*/
.rpos{float:left;line-height:26px; font-weight:normal; background:url(../img/admin/house.jpg) no-repeat 15px 5px; text-indent:40px;color:#ffffff;}
/*后台右页操作*/
.ropt{float:right;padding-top:5px; padding-right:15px;}

/*----------------left-----------------*/
.left{width:210px;background-color:#e9f4f8;}
.date{background:url(../img/admin/dateBG.gif) repeat-x; width:209px; height:26px; line-height:26px; margin-bottom:1px;}
.date span{background:url(../img/admin/time.gif) no-repeat 36px 6px; text-indent:25px; display:block; color:#ffffff; text-align:center;}
.fresh11{background:url(../img/admin/bg.png) repeat-x 0px -78px; height:35px; text-align:center;}
.fresh11 a{color:#326ba2; text-indent:25px; height:35px; width:55px; line-height:35px;font-size:12px;}

.fresh{background:url(../img/admin/shuxinBG.gif) repeat-x; height:28px; text-align:center; width:209px;}
.fresh a{color:#14436b; text-indent:25px; height:28px; width:55px; line-height:28px; font-size:12px;}

.w-lful{width:209px; margin:0 auto; padding:0px;}
/*.w-lful li{background:url(../img/admin/LMBg2.jpg) no-repeat; width:208px; height:27px; line-height:27px; margin-top:1px; color:#14436b; text-indent:9em;}*/
.w-lful li a{color:#14436b;}
.leftCurr/*当前菜单*/{ cursor:pointer; background:url(../img/admin/LMBg1.jpg); width:209px; height:27px; line-height:27px; color:#fff; margin-top:1px; text-indent:9em;}
.leftNol{ cursor:pointer; background:url(../img/admin/LMBg2.jpg); width:209px; height:27px; line-height:27px; color:#14436b; margin-top:1px; text-indent:9em;}

/*----------------right-----------------*/
.box-positon{background:url(../img/admin/dqwzBG.jpg); height:26px;}
.box-positon h1{color:#ffffff; font-size:12px; line-height:26px; font-weight:normal; background:url(../img/admin/house.jpg) no-repeat 15px 5px; text-indent:40px; margin:0;}
.welcom-con{ margin:0 auto; width:100%;}
.we-txt{ margin-top:2px;}
.we-txt ul{ margin:0; padding:0;}
.we-txt ul li{line-height:27px; padding-left:10px; background:#dceef4; border-bottom:1px solid #ffffff; font-family:Arial;}
.we-txt ul li a{color:#f5a24d;}

.ms{height:27px; margin:1px 0 0 0; padding:0px; }
.ms li{color:#094f97; font-weight:bold; float:left; line-height:27px;}

.wxx{width:50%;}
.attribute{width:50%; text-indent:25px;}
.ms-xx{}
.xx-xx{float:left; width:50%;}
.green{color:#048e05;}
.black{color:#1c1c1c;}
.yy{width:15%; float:left;}

#jsddm{margin:0; padding:0; width:78px;}
#jsddm li{list-style:none;}
#jsddm li a{display:block; width:78px; color:#fff;}
#jsddm li a:hover/*鼠标经过添加按钮*/{}
#jsddm li ul{margin:0; padding:0; position:absolute; visibility:hidden;border-left:1px solid #97b7d7; border-right:1px solid #97b7d7; border-bottom:1px solid #97b7d7; width:78px; background:#fff;}
#jsddm li ul li{}
#jsddm li ul li a{color:#010101; width:78px; border-bottom:1px solid #d0e6ec; height:24px; line-height:24px; margin:auto; text-align:center;}
#jsddm li ul li a:hover{background:#f1fbff;}

.attribute-xx{width:50%;}
.status{text-align:center; position:absolute; z-index:20;margin-top:-5px;}
.step{height:24px; padding-left:5px; padding-right:5px;line-height:24px; margin-top:12px; background:#ffffe1; border:1px solid #dcdcdc; font-size:12px;display:none; position:absolute; z-index:100;}